createdAt: "2020-02-03T13:06:24.067Z"
updatedAt: "2020-02-05T06:04:38.702Z"
type: "MARKDOWN_NOTE"
folder: "33900894468a4d5efc6a"
title: "俳優"
tags: []
content: '''
  - 俳優
    - 映画・演劇などで、劇中の人物を演ずることを職業とする人
  - 節句
    - 年中行事をおkなう日のうち、特に重要な日
  - 節分
    - 季節の変わり目。立春・立夏・立秋・立冬の称
  - 一瞥
    - 一目ちらっと見ること
  - 狭量
    - 1つの考えにとらわれ、異なる考えを受け入れられないこと
  - 勘弁
    - 過ちや不都合などを許すこと
  - 闊達
    - 小さな物事にこだわらず自在なさま
  - 迎合
    - 自分の考えを曲げても、相手の意向に従って気に入られようと努めること
  - 詭弁
    - こじつけ
  - 垂涎
    - 何かを非常にほしがること
  - 公算
    - あることが将来起こる見込み
  - 斯界
    - この分野
  - 趨勢
    - これから先がどうなっていくかというありさま
  - ぞんざい
    - 物事の取り扱いや態度が乱暴・粗略であること
  - 腐心
    - 心を悩ます
  - 適宜
    - その場の状況に応じて報告する
  - 随時
    - 好きな時いつでも
  - あげつらう
    - 些細なことを取り立てて言う
'''
linesHighlighted: []
isStarred: false
isTrashed: false
