createdAt: "2020-01-20T02:29:47.461Z"
updatedAt: "2020-02-03T03:45:47.807Z"
type: "MARKDOWN_NOTE"
folder: "2f6da004f24cb4098ad2"
title: "ユーザーのサイトの読み方のパターン"
tags: []
content: '''
  # ユーザーのサイトの読み方のパターン
  
  ## F字型
  - ホームページのセクションが、ほとんどあるいはまったくWeb向けの書式になっていない。例えば、ホームページが「テキストの壁」のようになっていて、太字になっている部分もなければ、箇条書きにもなっていないし、小見出しもない。
  - ホームページを効率的に読もうとしている。
  - ホームページの中で、大事な内容のみ読もうとしている。
  
  ![8ad58797.png](:storage\\8518beb5-131e-406e-9b39-fd3c3cbfd9ca\\8ad58797.png)
  ![ed396f5d.png](:storage\\8518beb5-131e-406e-9b39-fd3c3cbfd9ca\\ed396f5d.png)
  ➝**F字型というパターンは、情報の量が多く動線が整理されていないことの証**
  
  F字型レイアウトは優れた視覚的階層を持つため、分かりやすくコンテンツを閲覧することのできるデザインとなっています。 F字型レイアウトがほとんどの欧米系の読者にとって快適な理由は、彼らが書物を常に、上から下または左から右という一定の方向で読んできたからです。
  
  ## Z字型
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
