createdAt: "2019-11-26T07:36:20.233Z"
updatedAt: "2019-11-26T07:38:06.087Z"
type: "MARKDOWN_NOTE"
folder: "58a5d51f09911f5a02b7"
title: "モジュール化設計"
tags: []
content: '''
  ## モジュール化設計
  
  - モジュール化とは、ファイル単位だけでなく、ある機能や処理を行う関数群や関数単位またはデータ群などを、他のものとは独立して閉じた形で扱えるように構成することなども意味する。
  
  - モジュール化によって、プログラムの処理単位ごとに分割したソースファイルを制作し、プログラム開発やデバッグを個別に行うことができる
  - これにより分割コンパイルが可能となるので、ソースコード全てをコンパイルする手間が省ける。
  - さらに大事な事は、処理されるデータや関数を、モジュール内だけで隠ぺいしたものと、外部とのやり取り用に公開するもの、に分けることである。
  - 外部へ公開する関数、変数は必要最小限に抑えておく。そうすることで、機能変更による影響がそのモジュール内だけに抑えられるようになる。
  - 美しくモジュール化することと、実行速度、メモリー使用量などはトレードオフの関係になることがあり得る。
'''
linesHighlighted: []
isStarred: false
isTrashed: false
