createdAt: "2019-11-26T07:43:56.968Z"
updatedAt: "2019-11-26T07:44:07.752Z"
type: "MARKDOWN_NOTE"
folder: "58a5d51f09911f5a02b7"
title: "MVVMモデル"
tags: []
content: '''
  # MVVMモデル
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
