createdAt: "2019-11-13T14:36:21.569Z"
updatedAt: "2019-11-24T14:12:26.869Z"
type: "MARKDOWN_NOTE"
folder: "58a5d51f09911f5a02b7"
title: "teacher/students/student_id/lectures"
tags: []
content: '''
  teacher/students/student_id/lectures
         /lectures/lecture_id/students
'''
linesHighlighted: []
isStarred: false
isTrashed: false
